<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js"><span id='Dispatcher'>/**
</span> * Dispatcher class
 *
 * Manages process of script run
 *
 * Most public methods of this class are called automatically.
 * if your target is a &#39;quick start&#39; {@link Dispatcher#registerNewTask}
 * is single method, which you should pay attention for.
 *
 * @singleton
 * @class
 */
Dispatcher = (function() {
<span id='Dispatcher-property-SORTABLE_PROPS'>    /**
</span>     * @property {Array} SORTABLE_PROPS = [&#39;area&#39;, &#39;graphic&#39;, &#39;graphicex&#39;]
     * @private
     *
     * List of props that need to be handled in special way.
     */
    var SORTABLE_PROPS = [&#39;area&#39;, &#39;graphic&#39;, &#39;graphicex&#39;];

    //DEBUG_START
    // An array of viewIndexes from all tasks
    var bookedViewIndexes = [];
    //DEBUG_STOP

<span id='Dispatcher-property-confirmedViews'>    /**
</span>     * @property {Array} confirmedViews = []
     * @private
     *
     * An array that holds names of views that has been confirmed to be drown
     */
    var confirmedViews = [];

<span id='Dispatcher-property-drownGraphics'>    /**
</span>     * @property {Array} drownGraphics = []
     * @private
     *
     * An array that holds real graphic objects
     */
    var drownGraphics = [];

<span id='Dispatcher-property-graphicsViews'>    /**
</span>     * @property {{name: Object}} graphicsViews = {}
     * @private
     *
     * A dictionary that holds key/value pairs related to real graphic views
     * Each `key` is a internal name of view.
     * Each `value` paired to corresponding key is real view object
     */
    var graphicsViews = {};

<span id='Dispatcher-property-viewsProps'>    /**
</span>     * @property {{name: Object}} viewsProps = {}
     * @private
     *
     * A dictionary that holds key/value pairs related to graphic views names
     * and props that should be applied to them
     *
     * Each `key` is a internal name of view.
     * Each `value` paired to corresponding key is a dictionary with props
     * that should be applied to it
     */
    var viewsProps = {};

<span id='Dispatcher-method-applyMethodToView'>    /**
</span>     * Apply any  particular prop to specified view
     *
     * @param {String} view A key that points to real view object in
     * `graphicsViews` dictionary
     * @param {String} key A human readable name of prop that will be set.
     * All possible props a mentioned in {@link Task#addProp4Views} method
     * @param {Array} instancesParams An array of multiple instances of params
     * for particular prop that are going to be set.
     *
     * @private
     */
    var applyMethodToView = function(view, key, instancesParams) {
        var propsHash = {
            &#39;area&#39;:        &#39;AddArea&#39;,
            &#39;comment&#39;:     &#39;AddComment&#39;,
            &#39;description&#39;: &#39;SetDescription&#39;,
            &#39;graphic&#39;:     &#39;AddGraphic&#39;,
            &#39;graphicex&#39;:   &#39;AddGraphicEx&#39;,
            &#39;limits&#39;:      &#39;SetLimits&#39;,
            &#39;notation&#39;:    &#39;AddNotation&#39;,
            &#39;scale&#39;:       &#39;SetScale&#39;,
            &#39;set&#39;:         &#39;SetGraphic&#39;,
            &#39;zoom&#39;:        &#39;ZoomToValues&#39;
        };

        var method      = propsHash[key] || key;
        var viewObject  = graphicsViews[view];

        //DEBUG_START
        var dumpInfoFunc = function(errorMessage, args) {
            _i(&#39;%&#39;.repeat(40));
            _e(errorMessage);
            _d(view, &#39;view&#39;);
            _d(method, &#39;method&#39;);
            _d(args.length, &#39;amount of params&#39;);
            _d(args, &#39;params&#39;);
        }
        //DEBUG_STOP

        instancesParams.forEach(function(args) {
            var len  = args.length;
            var arg1 = null;

            arg1 = SORTABLE_PROPS.indexOf(key) &lt; 0 ?
                args[0] : drownGraphics[args[0]];

            // very sad piece of code ... :(
            try {
                if (len === 1) {
                    viewObject[method](arg1);
                } else if (len === 2) {
                    viewObject[method](arg1, args[1]);
                } else if (len === 3) {
                    viewObject[method](arg1, args[1], args[2]);
                } else if (len === 4) {
                    viewObject[method](arg1, args[1], args[2], args[3]);
                } else if (len === 5) {
                    viewObject[method](arg1, args[1], args[2], args[3], args[4]);
                } else if (len === 6) {
                    viewObject[method](arg1, args[1], args[2], args[3], args[4], args[5]);
                    //DEBUG_START
                } else {
                    var msg = &#39;This amount of params is not handled yet&#39;;
                    dumpInfoFunc(msg, args);
                    //DEBUG_STOP
                }
            } catch (e) {
                //DEBUG_START
                dumpInfoFunc(&#39;Next error occured on processing this item: &#39; +
                        e.message, args);
                //DEBUG_STOP
            }
        });
    };

<span id='Dispatcher-method-applyPropsToGraphicViews'>    /**
</span>     * Applies all king of props to corresponding views
     *
     * @private
     */
    var applyPropsToGraphicViews = function() {
        //DEBUG_START
        _p(&#39;in `applyPropsToGraphicViews`&#39;);
        _d(&#39;&#39;);
        _d(viewsProps, &#39;all props&#39;);
        _d(&#39;&#39;);
        //DEBUG_STOP

        Object.keys(graphicsViews).forEach(function(view) {
            Object.keys(viewsProps[view]).forEach(function(key) {
                applyMethodToView(view, key, viewsProps[view][key]);
            });

            graphicsViews[view].Update();
        });
    };

<span id='Dispatcher-method-createGraphicViews'>    /**
</span>     * Creates all graphic views that were confirmed for creation
     *
     * @private
     */
    var createGraphicViews = function() {
        //DEBUG_START
        _p(&#39;in `createGraphicViews`&#39;);
        var viewIndexes = [];
        //DEBUG_STOP

        confirmedViews
            .map(function(view) { return view.split(&#39;:&#39;); })
            .sort(function(a, b) { return a[1] - b[1]; })
            .forEach(function(view) {
                //DEBUG_START
                _d(view, &#39;Processing next view&#39;);
                if (viewIndexes.indexOf(view[1]) &gt; -1) {
                    _e(&#39;Duplication of index&#39;);
                    return;
                }

                if (graphicsViews.hasOwnProperty(view[0])) {
                    _e(view, &#39;Next view has been already created&#39;);
                    return;
                }

                viewIndexes.push(view[1]);
                //DEBUG_STOP

                // by default Cartesian coordinate system will be used
                // http://en.wikipedia.org/wiki/Cartesian_coordinate_system
                var type = view[0].split(&#39;@&#39;)[1] || 0;
                var viewName = view[0].split(&#39;@&#39;)[0];
                var title = _t(&#39;views.&#39; +  viewName + &#39;.name&#39;);
                var viewObj = Host.CreateGraphicViewEx(title, type);
                graphicsViews[viewName] = viewObj;
            });

        return true;
    };

    //DEBUG_START
<span id='Dispatcher-method-isViewIndexAvailable'>    /**
</span>     * Checks if viewIndex of the current task has not been announced
     * for further usage
     *
     * **NOTE**: This method is stripped from production code
     *
     * @param {String} viewIndex A string representation of viewIndex
     * @return {Boolean} result of check
     */
    this.isViewIndexAvailable = function(viewIndex) {
        if (bookedViewIndexes.indexOf(viewIndex) &gt; -1) {
            _e(viewIndex, &#39;Next viewIndex is already booked:&#39;);
            return false;
        }

        bookedViewIndexes.push(viewIndex);
        return true;
    };
    //DEBUG_STOP

<span id='Dispatcher-method-sortGraphicsByIndexes'>    /**
</span>     * Sort all kind of graphics to get order they were requested to be
     * appeared in views they were addressed
     *
     * @private
     */
    var sortGraphicsByIndexes = function() {
        var mapFunc  = function(item) { return item.slice(1); };
        var sortFunc = function(a, b) {
            // try to sort by view index
            if (a[0] &lt; b[0]) { return -1; }
            if (a[0] &gt; b[0]) { return  1; }
            // if still same - sort by index in global array
            return a[1] - b[1];
        };

        Object.keys(viewsProps).forEach(function(ii) {
            SORTABLE_PROPS.forEach(function(key) {
                if (Array.isArray(viewsProps[ii][key])) {
                    viewsProps[ii][key] =
                        viewsProps[ii][key].sort(sortFunc).map(mapFunc);
                }
            });
        });

        return true;
    };

<span id='Dispatcher-method-storeConfirmedView'>    /**
</span>     * Stores view that is confirmed for creation into
     * {@link Dispatcher#confirmedViews} property
     *
     * **NOTE**: Usually you do not need to use this method directly.
     * Its utilization is being done automatically. However if you do,
     * there should be strong reason for that.
     *
     * @param {String} view Name of view
     */
    this.storeConfirmedView = function(view) {
        if (view) {
            confirmedViews.push(view);
        }
    };

<span id='Dispatcher-method-storeGraphicObject'>    /**
</span>     * Stores real graphic object into {@link Dispatcher#drownGraphics}
     * property
     *
     * **NOTE**: Usually you do not need to use this method directly.
     * Its utilization is being done automatically. However if you do,
     * there should be strong reason for that.
     *
     * @param {Object} graphicObj Real graphic object
     */
    this.storeGraphicObject = function(graphicObj) {
        if (graphicObj) {
            return drownGraphics.push(graphicObj);
        }
    };

<span id='Dispatcher-method-storeViewsProps'>    /**
</span>     * Stores props of the views that should be set after views will be
     * created into {@link Dispatcher#viewsProps} property
     *
     * **NOTE**: Usually you do not need to use this method directly.
     * Its utilization is being done automatically. However if you do,
     * there should be strong reason for that.
     *
     * @param {Object} viewsProps A dictionary with views and theirs
     * properties
     */
    this.storeViewsProps = function(newViewsProps) {
        viewsProps = Utils.mergeRecursive(viewsProps, newViewsProps);
    };

<span id='Dispatcher-method-processGraphicMethods'>    /**
</span>     * Invokes a set of methods that are responsible for dealing with
     * graphics stuff after all tasks have been completed.
     * This method is just a wrapper on others
     */
    this.processGraphicMethods = function() {
        createGraphicViews();
        sortGraphicsByIndexes();
        applyPropsToGraphicViews();
    };

    // schedule method in parenthes to be run
    this.schedulePostProcessMethod({
        &#39;index&#39;:  20,
        &#39;method&#39;: &#39;processGraphicMethods&#39;
    });

    return this;
}).apply(Dispatcher);

</pre>
</body>
</html>
