<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js"><span id='Dispatcher'>/**
</span> * Dispatcher class
 *
 * Manages process of script run
 *
 * Most public methods of this class are called automatically.
 * if your target is a &#39;quick start&#39; {@link Dispatcher#registerNewTask}
 * is single method, which you should pay attention for.
 *
 * @singleton
 * @class
 */
Dispatcher = (function() {
<span id='Dispatcher-property-data4Compare'>    /**
</span>     * @property {{name: Array}} data4Compare = null
     * @private
     *
     * An hash/dict that holds key/value pairs of task names and theirs data
     * for compare feature
     */
    var data4Compare = null;

<span id='Dispatcher-property-data4Save'>    /**
</span>     * @property {Object} data4Save = {}
     * @private
     *
     * An hash/dict that holds key/value pairs of task names and theirs data
     * for compare feature
     */
    var data4Save = {};

<span id='Dispatcher-property-metadata'>    /**
</span>     * @property {Object} metadata = {}
     * @private
     *
     * Hash with params that will be stored alongside task data
     * in &#39;compare&#39; feature;
     */
    var metadata = {};

<span id='Dispatcher-property-tasks2Save'>    /**
</span>     * @property {Array} tasks2Save = []
     * @private
     *
     * An array that holds names of tasks that should be save for future
     * compare feature
     */
    var tasks2Save = [];

<span id='Dispatcher-method-addParamsToMetadata'>    /**
</span>     * Stores additional params of metadata for &#39;compare&#39; feature.
     *
     * @param {Object} [params] A dictionary with param names and theirs
     * values
     */
    this.addParamsToMetadata = function(params) {
        if (params &amp;&amp; params.constructor === Object) {
            metadata = Utils.mergeRecursive(metadata, params);
            return true;
        }

        return false;
    };

<span id='Dispatcher-method-addSpec4Saving'>    /**
</span>     * Remebers task name for future store and compare
     * property
     *
     * **NOTE**: Usually you do not need to use this method directly.
     * Its utilization is being done automatically. However if you do,
     * there should be strong reason for that.
     *
     * @param {String} specName name of the task
     */
    this.addSpec4Saving = function(specName) {
        if (specName) {
            return tasks2Save.push(specName);
        }
    };

<span id='Dispatcher-method-loadExternalData'>    /**
</span>     * Reads data for this task from file
     *
     * @param {String} [filename] variable with filename to read data from
     * @return {Boolean} result of the load operation
     */
    this.loadExternalData = function(filename) {
        //DEBUG_START
        _d(filename, &#39;trying to load external data from next file&#39;);
        //DEBUG_STOP

        if (IO.isFileExist(filename) === false) {
            // file does not exist
            return 1;
        }

        try {
            data4Compare = JSON.parse(IO.readFileContent(filename));
        } catch(e) {
            //DEBUG_START
            _e(&#39;smth went wrong&#39;);
            _d(e.message, &#39;error message&#39;);
            //DEBUG_STOP
            // fail to read/parse file
            return 2;
        }

        if (!data4Compare.metadata || !data4Compare.data) {
            // mandatory keys are missed
            return 3;
        }

        return data4Compare.metadata;
    };

<span id='Dispatcher-method-requestTaskData'>    /**
</span>     * Returns data for task
     *
     * @param {String} [specName] name of the task
     * @return {Array|Boolean} &#39;data&#39; for the specified task
     */
    this.requestTaskData = function(specName) {
        if (data4Compare === null) {
            return 1;
        }

        if (data4Compare[&#39;data&#39;].hasOwnProperty(specName) === false) {
            return 2;
        }

        if (data4Compare[&#39;data&#39;][specName].constructor !== Object) {
            return 3;
        }

        if (Array.isArray(data4Compare[&#39;data&#39;][specName][&#39;data&#39;]) === false) {
            return 4;
        }

        return data4Compare[&#39;data&#39;][specName][&#39;data&#39;];
    };

<span id='Dispatcher-method-saveTasks4Compare'>    /**
</span>     * Dumps data of the tasks to the disk for future compare feature
     *
     * @private
     */
    this.saveTasks4Compare = function() {
        var fileOptions = {
            noutf:    true,
            filedir:  [Host.CurPath, IO.getSafeNeighbourPath(), &#39;data&#39;],
            filename: Host.CurFileName.replace(/\.mwf$/, &#39;&#39;) + &#39;.json.txt&#39;
        };

        this.dumpData2Disk({
            &#39;fileOptions&#39;: fileOptions,
            &#39;metadata&#39;: metadata,
            &#39;taskProps2Save&#39;: {&#39;data&#39;: &#39;getDataSets&#39;},
            &#39;tasks2Save&#39;: tasks2Save,
            &#39;taskNameMapper&#39;: function(taskName) {
                return taskName + &#39;_external&#39;;
            }
        });
    };

    // schedule method in parenthes to be run
    this.schedulePostProcessMethod({
        &#39;index&#39;:  81,
        &#39;method&#39;: &#39;saveTasks4Compare&#39;
    });

    return this;
}).apply(Dispatcher);

</pre>
</body>
</html>
