<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js"><span id='Dispatcher'>/**
</span> * Dispatcher class
 *
 * Manages process of script run
 *
 * Most public methods of this class are called automatically.
 * If your target is a &#39;quick start&#39; - {@link Dispatcher#registerNewTask}
 * is single method, which you should pay attention for.
 *
 * @singleton
 * @class
 */
Dispatcher = (function() {
    var that = this;

<span id='Dispatcher-property-preProcessMethods'>    /**
</span>     * @property {Array} preProcessMethods
     * @private
     *
     * Holds time when script started to execute
     */
    var preProcessMethods = [];

<span id='Dispatcher-property-postProcessMethods'>    /**
</span>     * @property {Array} postProcessMethods
     * @private
     *
     * Holds time when script started to execute
     */
    var postProcessMethods = [];

<span id='Dispatcher-property-tasksHash'>    /**
</span>     * @property {{name: Task}} tasksHash = {}
     * @private
     *
     * A dictionary that holds key/value pairs of task name/task instance
     *
     * Each `key` is a internal name of task.
     * Each `value` paired to corresponding key is a task instance
     */
    var tasksHash = {};

    //DEBUG_START
    // Amount of spaces that will be added after task name in log
    var padLen = 40;
    //DEBUG_STOP

<span id='Dispatcher-method-registerNewTask'>    /**
</span>     * Registers new task with dictionary of options passed as parameter
     *
     * @param {Object} taskOpts A dictionary with options that
     *  will be used for creation instance of Task class
     * @return {Boolean} result of the operation
     *
     * See short example below on how to use this method
     *
     * ```
     * Dispatcher.registerNewTask({
     *     specName: &#39;my_task&#39;,
     *     axisName: &#39;cm&#39;,
     *     viewIndex: &#39;view:1&#39;,
     *     setLimits: true,
     *     minLimit: 0,
     *     maxLimit: 5.0,
     *     calc_data: function() {
     *         this.addDataSet({
     *             x: [0, 5, 15, 20],
     *             y: [0, 2,  2,  0],
     *             color: [0xB00000, 0x008000, 0x0000B0, 0x000000]
     *         });
     *     }
     * });
     * ```
     *
     * All subparams that can be used inside `taskOpts` object is listed in
     * {@link Task#constructor annotation of Task class}
     *
     * Each definition like above should reside in separate file in
     * `src/tasks` directory. Build system concatenates all files including
     * files with tasks into single file. This allows `Dispatcher` class
     * automatically register every task that was included into result file.
     * Since tasks may depend on each other, order of inclusion **does
     * matters**. That order is same as order of files in `src/tasks`
     * directory sorted alphabetically. Make sure you name files with
     * tasks properly.
     *
     * Sometimes we call *task* as *spec*.
     */
    this.registerNewTask = function(taskOpts) {
        //DEBUG_START
        if (!taskOpts || taskOpts.constructor !== Object) {
            _e(&#39;Can not register task with empty graphic specs object!&#39;);
            return false;
        }
        //DEBUG_STOP

        var taskObj = new Task(taskOpts);
        var taskName = taskObj.getTaskName();

        //DEBUG_START
        if (isTaskNameValid(taskName) === false) {
            return false;
        }
        //DEBUG_STOP

        tasksHash[taskName] = taskObj;
        taskOpts = null;
        taskObj = null;

        //DEBUG_START
        _d(taskName, &#39;next graphic has been successfully registered&#39;);
        //DEBUG_STOP
        return true;
    };

<span id='Dispatcher-method-isScriptAllowedToRun'>    /**
</span>     * Returns a flag which indicates if script is allowed to run
     *
     * Purpose of this function is to define if this particular instance
     * of script is allowed to run (in some particular environment)
     * It is OK for developer to redefine this function for his needs
     *
     * @return {Boolean} value of permition to run script
     */
    this.isScriptAllowedToRun = function() {
        return true;
    };

<span id='Dispatcher-method-process'>    /**
</span>     * Runs all top-level tasks of Dispatcher. Best annotation here it to see
     * a source code.
     */
    this.process = function() {
        runPreProcessMethods();

        if (this.isScriptAllowedToRun() &amp;&amp; Input.createConfiguration()) {
            //DEBUG_START
            logIncomingParams();
            //DEBUG_STOP
            runRegisteredTasks();
        }

        runPostProcessMethods();
    };

    //DEBUG_START
<span id='Dispatcher-method-logIncomingParams'>    /**
</span>     * Logs any data that has been entered by user
     *
     * @private
     */
    var logIncomingParams = function() {
        _p(&#39;&#39;);
        _d(Host.CurPath, &#39;current dir&#39;);
        _d(Host.CurFileName, &#39;current data file&#39;);
        _d(Host.Frequency, &#39;frequency&#39;);
        _d(Host.NumberOfSamples, &#39;samples&#39;);
        _d(Host.NumberOfSamples.posToSec(), &#39;duration&#39;);
        _d(Host.SelBegin.posToSec(), &#39;Selection Begin&#39;);
        _d(Host.SelEnd.posToSec(), &#39;Selection End&#39;);

        Input.getFilledInputs().forEach(function(input) {
            _d(Input.getValue(input), input);
        });
    };

<span id='Dispatcher-method-isTaskNameValid'>    /**
</span>     * Checks if task&#39;s name is valid
     *
     * @param {String} specName A user defined name of task/spec
     * @return {Boolean} result of the check
     *
     * @private
     */
    var isTaskNameValid = function(specName) {
        if (!specName) {
            _e(&#39;Passed spec misses name&#39;);
            return false;
        }

        if (specName.indexOf(&#39;:&#39;) &gt; -1) {
            _e(&#39;Passed spec\&#39;s name can not contain \&#39;:\&#39;!&#39;);
            return false;
        }

        if (tasksHash.hasOwnProperty(specName)) {
            _e(specName, &#39;spec name duplication&#39;);
            return false;
        }

        return true;
    };
    //DEBUG_STOP

<span id='Dispatcher-method-runRegisteredTasks'>    /**
</span>     * Runs all tasks that has been successfully registered
     *
     * @private
     */
    var runRegisteredTasks = function() {
        Profiler.start(&#39;main&#39;);
        var specNames = Object.keys(tasksHash);
        var length = specNames.length;

        //DEBUG_START
        if (length === 0) {
            _w(&#39;No registered tasks found&#39;);
            return;
        }

        var count  = length.toString();
        var specs  = Object.keys(tasksHash);
        var sortFn = function(a, b) { return a.length - b.length; };
        padLen = Math.ceil(specs.sort(sortFn).last().length * 1.4);

        // TODO would be nice to get rid of `-1` here
        var stopAfter = (Input.isInputNameKnown(&#39;stop_after&#39;) ?
            Input.getValue(&#39;stop_after&#39;) : 0) - 1;

        var preProcess = function(ii, specName) {
            var outputStr = [
                &#39;&gt;&#39;.repeat(15), &#39; Processing next (&#39;,
                (ii + 1).toString().lpad(count.length),
                &#39;/&#39;, count, &#39;) spec: &#39;,
                specName.rpad(padLen)
            ];

            _d(&#39;\n&#39;.repeat(4));
            _rw(outputStr.join(&#39;&#39;));

            Profiler.start(specName);
        };

        var postProcess = function(specName, taskStatus) {
            var message = taskStatus ? &#39;+&#39; : &#39;-&#39;;
            var color = taskStatus ? 0x44DD44 : 0xDD4444;
            var profilerString = [
                &#39;&lt;&#39;.repeat(5),
                specName.rpad(padLen),
                Profiler.stop(specName).toString(),
                &#39;ms passed&#39;
            ];

            _rc(message, {lfAfter: true, reportOnly: true, colors: [0, color]});
            _i(profilerString.join(&#39; &#39;));
        };

        _rl(&#39;&#39;);
        //DEBUG_STOP

        for (var ii = 0, specObj, specName; ii &lt; length; ii++) {
            specObj = tasksHash[specNames[ii]];
            specName = specObj.getTaskName();

            if (typeof that.stepProgressIn === &#39;function&#39;) {
                that.stepProgressIn(_t(&#39;core.status.message&#39;, ii));
            }

            //DEBUG_START
            preProcess(ii, specName);
            //DEBUG_STOP

            specObj.process();

            //DEBUG_START
            postProcess(specName, specObj.getTaskStatus());
            //DEBUG_STOP

            if (typeof that.stepProgressOut === &#39;function&#39;) {
                that.stepProgressOut(ii);
            }

            //DEBUG_START
            if (stopAfter === ii &amp;&amp; ii !== length - 1) {
                _rl(&#39;tasks queue terminated&#39;, {colors: [0, 0xFFAD00]});
                break;
            }
            //DEBUG_STOP
        }
    };

<span id='Dispatcher-method-getTaskObject'>    /**
</span>     * Searches for task in `tasksHash` by its name. Returns task instance
     * or `null` in case wrong name.
     *
     * **NOTE**: Usually you do not need to use this method directly.
     * However if you do, there should be strong reason for that.
     *
     * @param {String} name A task name
     * @return {Task|null} result
     */
    this.getTaskObject = function(name) {
        //DEBUG_START
        if (typeof name !== &#39;string&#39; || name.length === 0) {
            _e(name, &#39;spec name has wrong type or zero length&#39;);
            return null;
        }
        //DEBUG_STOP

        if (tasksHash.hasOwnProperty(name)) {
            return tasksHash[name];
        }

        //DEBUG_START
        _e(name, &#39;attemp to access spec by invalid name&#39;);
        //DEBUG_STOP
        return null;
    };

<span id='Dispatcher-method-getValidTaskObject'>    /**
</span>     * Searches for task in `tasksHash` by its name and positive status.
     * Returns task instance if found or null in other cases.
     *
     * **NOTE**: Usually you do not need to use this method directly.
     * However if you do, there should be strong reason for that.
     *
     * @param {String} name A task name
     * @return {Task|null} result
     */
    this.getValidTaskObject = function(name) {
        var taskObj = this.getTaskObject(name);

        if (taskObj &amp;&amp; taskObj.getTaskStatus()) {
            return taskObj;
        } else {
            return null;
        }
    };

<span id='Dispatcher-method-listRegisteredTasks'>    /**
</span>     * Returns list of the tasks that have been registered
     *
     * @return {Array} list of registered task names
     */
    this.listRegisteredTasks = function() {
        return Object.keys(tasksHash);
    };

<span id='Dispatcher-method-runPostProcessMethods'>    /**
</span>     * Run methods of Dispatcher object that were requested for running
     * after butch run of tasks
     */
    var runPostProcessMethods = function() {
        Profiler.stop(&#39;main&#39;);
        runSchedulledMethods(postProcessMethods);

        //DEBUG_START
        Logger.close();
        //DEBUG_STOP
    };

<span id='Dispatcher-method-runPreProcessMethods'>    /**
</span>     * Run methods of Dispatcher object that were requested for running
     * before butch run of tasks
     */
    var runPreProcessMethods = function() {
        //DEBUG_START
        Logger.init();
        //DEBUG_STOP

        Profiler.start(&#39;main&#39;);
        runSchedulledMethods(preProcessMethods);
    };

<span id='Dispatcher-method-runSchedulledMethods'>    /**
</span>     * Run methods of Dispatcher object that were requested via params
     *
     * @param {Array} schedulledMethods - An array with names of task for run
     */
    var runSchedulledMethods = function(schedulledMethods) {
        schedulledMethods
            .filter(function(item) {
                // passed object is not a object
                if (typeof item !== &#39;object&#39;) {
                    return false;
                }

                // passed object is not a hash/map
                if (item.constructor !== Object) {
                    return false;
                }

                // index is not found or is not a number
                if (typeof item[&#39;index&#39;] !== &#39;number&#39;) {
                    return false;
                }

                // method name is not found or is not a string
                if (typeof item[&#39;method&#39;] !== &#39;string&#39;) {
                    return false;
                }

                // property with this key in current scope is not found
                // or it does not point to the method
                if (typeof this[item[&#39;method&#39;]] !== &#39;function&#39;) {
                    return false;
                }

                return true;
            }, that)
            .sort(function(itemA, itemB) {
                return itemA[&#39;index&#39;] - itemB[&#39;index&#39;];
            })
            .forEach(function(item) {
                Dispatcher[item[&#39;method&#39;]].apply(that, item[&#39;params&#39;] || []);
            });
    };

<span id='Dispatcher-method-schedulePostProcessMethod'>    /**
</span>     * Schedule method for running before butch run of tasks
     */
    this.schedulePostProcessMethod = function(item) {
        postProcessMethods.push(item);
    };

<span id='Dispatcher-method-schedulePreProcessMethod'>    /**
</span>     * Schedule method for running after butch run of tasks
     */
    this.schedulePreProcessMethod = function(item) {
        preProcessMethods.push(item);
    };

    this.getScriptVersionString = function() {
        var params = null;

        if (Script.version.indexOf(&#39;VERSION&#39;) &lt; 0) {
            params = [&#39;report.version.rel&#39;, Script.name, Script.version];
        } else if (Script.buildID.indexOf(&#39;BUILD_ID&#39;) &lt; 0) {
            params = [&#39;report.version.vcs_dev&#39;, Script.name,
                Script.buildTimestamp.toLocaleString(), Script.buildID];
        } else {
            params = [&#39;report.version.dev&#39;, Script.name,
                Script.buildTimestamp.toLocaleString()];
        }

        return _t.apply(null, params);
    };

    return this;
}).apply({});

</pre>
</body>
</html>
